@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #96939b;
  height: 100%;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-section {
  background-color: #fff;
  padding: 24px;

  height: auto;
}
.left-section #title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #667085;
  border: none;
  width: 100%;
  padding: 12px 6px;
}

textarea {
  height: 100px;
  background: #f2f4f7;
  border-radius: 8px;
  resize: none;
  padding: 16px;
  border: none;
  width: 90%;
}

#subtask-con {
  display: flex;
  margin-top: 12px 0;
  align-items: center;
  justify-content: space-between;
}

#subtask-con div {
  display: flex;
  gap: 8px;
  align-items: center;
}

#subtask-con div img {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
}

#subtask-con div p {
  width: 250px;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

#subtask-con div button img {
  width: 24px;
  height: 24px;
  margin: none;
}

#subtask-con button {
  padding: none;
  background-color: white;
  border: none;
  cursor: pointer;
}

.subtask-checkbox {
  display: flex;
  padding: 8px 0;
  align-items: center;
}
.subtask-checkbox input:first-child {
  width: 18px;
}

.subtask-checkbox input:nth-child(2) {
  border: none;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  padding: 8px;
  color: #414141;
}

#sub-tasks {
  height: 150px;
  overflow-y: scroll;
  scrollbar-width: none;
}

#label-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

#label-container img {
  width: 24px;
  height: 24px;
  margin: none;
}

#label-container p {
  color: #1d2939;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.labels,
.right-section .column .card .labels-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.labels button,
.right-section .column .card .labels-container button {
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.labels #design,
.right-section .column .card .labels-container #design {
  background-color: #f7d4ff;
  color: #a300f4;
}
.labels #development,
.right-section .column .card .labels-container #development {
  background-color: #d1fadf;
  color: #12b76a;
}
.labels #product,
.right-section .column .card .labels-container #product {
  background-color: #dfdaff;
  color: #3d24f6;
}
.labels #marketing,
.right-section .column .card .labels-container #marketing {
  background-color: #ffdfdf;
  color: #ff1616;
}
.labels #business,
.right-section .column .card .labels-container #business {
  background-color: #d1faf7;
  color: #00dbc2;
}
.labels #operation,
.right-section .column .card .labels-container #operation {
  background-color: #fafad1;
  color: #ebbc00;
}

.right-section .column .card .labels-container button {
  margin-top: 16px;
  cursor: auto;
}

.labels button.selected:nth-child(1) {
  border: #a300f4 solid 1px;
}
.labels button.selected:nth-child(2) {
  border: #12b76a solid 1px;
}
.labels button.selected:nth-child(3) {
  border: #3d24f6 solid 1px;
}
.labels button.selected:nth-child(4) {
  border: #ff1616 solid 1px;
}
.labels button.selected:nth-child(5) {
  border: #00dbc2 solid 1px;
}
.labels button.selected:nth-child(6) {
  border: #ebbc00 solid 1px;
}

#assignee-container {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 0px;
}

#assignee-container img {
  width: 24px;
  height: 24px;
  margin: none;
}

#assignee-container p {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.persons div {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  align-content: center;
}

.persons div input {
  width: 18px;
  height: 18px;
  margin: 0px;
}

.persons div p {
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
}

#action-buttons {
  display: flex;
  flex-direction: row;
  bottom: 24px;
  gap: 12px;
  margin-top: 20px;
}

#action-buttons #clear_all {
  background-color: #fff;
  border: 1.4px solid #ff1616;
  border-radius: 8px;
  padding: 12px 16.5px;
  color: #ff1616;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  width: 30%;
  height: 48px;
}
#action-buttons #clear_all:hover {
  background-color: #ff1616;
  color: #fff;
}

#action-buttons #create_card {
  background-color: #000;
  border: none;
  border-radius: 8px;
  padding: 12px 57px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  width: 70%;
  height: 48px;
}

#action-buttons #create_card:hover {
  background-color: #fff;
  color: #000;
  border: 1.4px solid #000;
}

.right-section {
  width: 100%;
  background-color: #f3f4f7;
  height: 100%;
  display: flex;
  padding: 40px 32px;
  flex-direction: row;
  gap: 24px;
  overflow-x: scroll;
}

.column {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.column #todo-column,
#doing-column,
#done-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: scroll;
  scrollbar-width: none;

  height: 100vh;
  width: 320px;
}

h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

.right-section .column .card {
  padding: 20px;
  width: auto;
  border-radius: 8px;
  background-color: #fcfcfd;
  box-shadow: 0px 0.5px 2px 0px #1018284d;
}
.right-section .column .card h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #2b2d31;
  margin-bottom: 6px;
}

.right-section .column .card p {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #98a2b3;
  margin: 0;
  padding: 0;
}

.right-section .column .card p span {
  color: #687287;
}

.name_date {
  display: flex;
  gap: 24px;
}

.right-section .column .card .desc {
  font-weight: 500;
  margin-top: 16px;
  padding: 0;
  width: 100%;
}

.right-section .column .card .sub-tasks-oncard {
  margin-top: 12px;
  max-height: 130px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.right-section .column .card .subtask-checkbox-oncard {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-content: center;
  align-items: center;
  padding: 11px 8px;
}

.right-section .column .card .subtask-checkbox-oncard input {
  width: 18px;
  height: 18px;
}

.right-section .column .card .subtask-checkbox-oncard p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #2b2d31;
}

/* Responsove */

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .right-section {
    margin: 0px;
    width: 100%;
    height: 700px;
    overflow-y: visible;
    overflow-x: scroll;
  }
  #todo-column,
  #doing-column,
  #done-column {
    overflow-y: visible;
    height: 700px;
  }
  #done-column {
    margin-right: 60px;
  }
  .right-section .column {
    width: 100%;
    overflow-y: visible;
  }
}
